name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Test
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: echo "NODE_OPTIONS=--experimental-vm-modules" >> $GITHUB_ENV
    - run: echo "NODE_OPTIONS=$NODE_OPTIONS"
    - run: npm ci
    - run: npx jest 
